<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>This page belongs to <%= selectData.name %> </h2>
    <p>
        Followers:  <%= selectData.followers %> &nbsp;&nbsp;&nbsp;&nbsp;
        Following: <%= selectData.following %>
    </p>

    <hr>
    <% for(let post of selectData.posts){ %>
        <img src="<%= post.image %> " alt="some img">
        <p>
            Likes: <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp;
            comment: <%= post.comment %>
        </p>
    <% }   %>

    <h3>Accounts that follow you</h3>
</body>
</html>